@model Homepage
@{
    ViewBag.Title = "Index";
}

<!DOCTYPE html>
<html lang="en" dir="ltr">


<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
    <meta name="keywords" content="Premium HTML5 Template" />
    <meta name="description" content="ThePure - Responsive Bootstrap Classified Ads HTML Template" />
    <meta name="author" content="CodinBit.com" />
    <title>ThePure - Responsive Bootstrap Classified Ads HTML Template</title>


    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="~/Public/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="~/Publicvendor/font-awesome/css/all.css">
    <link rel="stylesheet" type="text/css" href="~/Publicvendor/flags2/flag-css.css">
    <link rel="stylesheet" type="text/css" href="~/Publicvendor/slick/slick.css" />
    <link rel="stylesheet" type="text/css" href="~/Publicvendor/select2/dist/css/select2.min.css">
    <link rel="stylesheet" type="text/css" href="~/Publicvendor/ekko-lightbox/ekko-lightbox.css" />

    <link rel="stylesheet" type="text/css" href="~/Publiccss/style.css">
</head>
<body>
    <div class="page-loader loading">
        <div class="loader">
            <i class="fas fa-spinner fa-spin" aria-hidden="true"></i>
        </div>
    </div>
    <div class="overlay-nav"></div>

   
      @{ 
          Html.RenderPartial("~/Views/Shared/_Header.cshtml");
      }



    <div class="content">
        <section class="bkg-light medium boxed">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="boxed-container my-account">
                           
                            <div class="account-nav-mobile">
                                <ul>
                                    <li class=""><a href="javascript:;" data-toggle="collapse" data-target="#menu-options" aria-expanded="false" class="collapsed">My Ads</a></li>
                                    <li class="active"><a href="javascript:;" data-toggle="collapse" data-target="#menu-options" aria-expanded="false" class="collapsed">Favorite Ads</a></li>
                                    <li class=""><a href="javascript:;" data-toggle="collapse" data-target="#menu-options" aria-expanded="false" class="collapsed">Inbox</a></li>
                                    <li class=""><a href="javascript:;" data-toggle="collapse" data-target="#menu-options" aria-expanded="false" class="collapsed">Invoices</a></li>
                                    <li class=""><a href="javascript:;" data-toggle="collapse" data-target="#menu-options" aria-expanded="false" class="collapsed">Account Info</a></li>
                                    <li class=""><a href="javascript:;" data-toggle="collapse" data-target="#menu-options" aria-expanded="false" class="collapsed">Store Settings</a></li>
                                </ul>
                                <div id="menu-options" class="menu-options collapse" aria-expanded="false">
                                    <ul>
                                        <li class=""><a href="my-account-my-listing.html">My Ads</a></li>
                                        <li class="active"><a href="my-account-favorites.html">Favorite Ads</a></li>
                                        <li class=""><a href="my-account-inbox.html">Inbox</a></li>
                                        <li class=""><a href="my-account-invoice.html">Invoices</a></li>
                                        <li class=""><a href="my-account-info.html">Account Info</a></li>
                                        <li class=""><a href="my-account-store.html">Store Settings</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="account-listing">
                                <ul class="table-sheet list-favorite">
                                    <li>
                                        <ul>
                                            <li class="image"></li>
                                            <li class="name"><a href="#">Name <i class="fas fa-angle-down"></i></a></li>
                                            <li class="data"><a href="#">Data <i class="fas fa-angle-down"></i></a></li>
                                            <li class="actions"><a href="#"><i class="fas fa-database"></i> Export favorites ads data</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        @foreach (var item in Model.Favirites)
                                        {
                                            <ul>

                                                <li class="image"><span class="image-holder"><img class="lazyloaded" src="/Uploads/@item.Photo" data-src="#" alt=""></span></li>
                                                <li class="name">
                                                    <span class="name-holder"><a href="@Url.Action("index", "viewlisting")">@item.Name</a></span>
                                                    <div class="d-lg-none">
                                                        <span class="data-holder">@item.Date.ToString("mm/dd/yyyy")</span>
                                                    </div>
                                                </li>
                                                <li class="data"><span class="data-holder">@item.Date.ToString("mm/dd/yyyy")</span></li>
                                                <li class="actions">
                                                    <ul>
                                                        <li><a href="view-listing.html" class="btn btn-primary"><i class="far fa-eye"></i> View</a></li>
                                                        <li><a href="#" class="btn btn-default"><i class="far fa-trash-alt"></i> Delete</a></li>
                                                    </ul>
                                                </li>
                                                

                                            </ul>
                                        }
                                        </li>
                                    <li>
                                       
                                    </li>
                                    <li>
                                     
                                    </li>
                                </ul>
                                <div class="row">
                                    <div class="col-12">
                                        <ul class="pagination text-center">
                                            <li class="page-item prev"><a class="page-link" href="#" tabindex="-1"><i class="fa fa-arrow-left"></i></a></li>
                                            <li class="page-item first"><a class="page-link" href="#">First</a></li>
                                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                                            <li class="page-item active"><a class="page-link" href="#">2</a></li>
                                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                                            <li class="page-item"><a class="page-link" href="#">...</a></li>
                                            <li class="page-item"><a class="page-link" href="#">27</a></li>
                                            <li class="page-item first"><a class="page-link" href="#">Last</a></li>
                                            <li class="page-item next"><a class="page-link" href="#"><i class="fa fa-arrow-right"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>


 @{
     Html.RenderPartial("~/Views/Shared/_Footer.cshtml");
 }


    <script src="~/Publicvendor/jquery/jquery.min.js"></script>

    <script src="~/Publicvendor/popper.min.js"></script>
    <script src="~/Publicvendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/Publicvendor/slick/slick.js"></script>
    <script src="~/Publicvendor/select2/dist/js/select2.min.js"></script>
    <script src="~/Publicvendor/ekko-lightbox/ekko-lightbox.js"></script>
    <script src="~/Publicjs/main.js"></script>
</body>


</html>

