<!DOCTYPE html>
<html lang="en" dir="ltr">

<!-- Mirrored from demo.codinbit.com/thepure/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 06 Oct 2019 09:23:15 GMT -->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
    <meta name="keywords" content="Premium HTML5 Template" />
    <meta name="description" content="ThePure - Responsive Bootstrap Classified Ads HTML Template" />
    <meta name="author" content="CodinBit.com" />
    <title>ThePure - Responsive Bootstrap Classified Ads HTML Template</title>


    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="~/Public/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="~/Public/vendor/font-awesome/css/all.css">
    <link rel="stylesheet" type="text/css" href="~/Public/vendor/flags2/flag-css.css">
    <link rel="stylesheet" type="text/css" href="~/Public/vendor/slick/slick.css" />
    <link rel="stylesheet" type="text/css" href="~/Public/vendor/select2/dist/css/select2.min.css">
    <link rel="stylesheet" type="text/css" href="~/Public/vendor/ekko-lightbox/ekko-lightbox.css" />

    <link rel="stylesheet" type="text/css" href="~/Public/css/style.css">
</head>
<body>
   @RenderBody()

    <div id="quick-view" role="dialog" class="modal fade quick-view">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <a href="javascript:;" class="x-close" data-dismiss="modal"><i class="fas fa-times" aria-hidden="true"></i></a>
                    <div class="quick-view-wrapper">
                        <div class="image-wrapper">
                            <div class="slider-single animation-slide height-auto dir-nav">
                                <div class="slider-item">
                                    <img src="images/products/1000X675_boots.jpg" alt="" />
                                </div>
                                <div class="slider-item">
                                    <img src="images/products/1000X675_boots.jpg" alt="" />
                                </div>
                            </div>
                        </div>
                        <div class="content-wrapper">
                            <div class="category">Fashion</div>
                            <a href="view-listing.html" class="name">Timberland Boots</a>
                            <span class="location"><i class="fa fa-map-marker-alt" aria-hidden="true"></i> California, United States</span>
                            <span class="posted"><i class="far fa-clock" aria-hidden="true"></i> Posted 2 hours ago</span>
                            <span class="price">$419.99</span>
                            <div class="excerpt">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                Etiam quis libero feugiat, consequat eros vitae,
                                venenatis nisl. Duis a porttitor mauris, nec aliquam est.
                            </div>
                            <a href="#"><i class="far fa-heart" aria-hidden="true"></i> Add to favorites</a>
                            <div>
                                <a href="view-listing.html" class="btn btn-primary">View Ad</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="~/Public/vendor/jquery/jquery.min.js"></script>

    <script src="~/Public/vendor/popper.min.js"></script>
    <script src="~/Public/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/Public/vendor/slick/slick.js"></script>
    <script src="~/Public/vendor/select2/dist/js/select2.min.js"></script>
    <script src="~/Public/vendor/ekko-lightbox/ekko-lightbox.js"></script>
    <script src="~/Public/js/main.js"></script>
</body>

<!-- Mirrored from demo.codinbit.com/thepure/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 06 Oct 2019 09:23:32 GMT -->
</html>