<div class="tab-content">
    <div id="profile-products" role="tabpanel" class="tab-pane active">
        <section class="listing-products grid grid-4" data-listing-id="listing-1">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="section-header text-center">
                            <h3>My products</h3>
                        </div>
                    </div>
                </div>
                <div class="row row-list">
                    <div class="col-12 col-md-6 col-lg-3 item">
                        <div class="item-wrapper">
                            <div class="image-wrapper">
                                <div class="promoted">
                                    <span>Promoted</span>
                                </div>
                                <a href="view-listing.html" class="image">
                                    <img class="lazyloaded" src="~/Public/images/products/1000X675_vespa.jpg" data-src="#" alt="">
                                </a>
                                <div class="quick-actions">
                                    <a href="#quick-view" data-toggle="modal" class="btn btn-primary btn-circle"><i class="fa fa-eye" aria-hidden="true"></i></a>
                                    <a href="#" class="btn btn-primary btn-circle add-to-fav"><i class="fa fa-heart" aria-hidden="true"></i></a>
                                </div>
                            </div>
                            <div class="info-wrapper">
                                <div class="info">
                                    <div class="category">Auto, Moto</div>
                                    <a href="view-listing.html" class="name">Vespa Moto</a>
                                    <span class="price">$419.99</span>
                                    <span class="location"><i class="fa fa-map-marker-alt" aria-hidden="true"></i> California, United States</span>
                                    <span class="posted"><i class="far fa-clock" aria-hidden="true"></i> Posted 2 hours ago</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-3 item">
                        <div class="item-wrapper">
                            <div class="image-wrapper">
                                <div class="promoted">
                                    <span>Promoted</span>
                                </div>
                                <a href="view-listing.html" class="image">
                                    <img class="lazyloaded" src="~/Public/images/products/1000X675_samsung.jpg" data-src="#" alt="">
                                </a>
                                <div class="quick-actions">
                                    <a href="#quick-view" data-toggle="modal" class="btn btn-primary btn-circle"><i class="fa fa-eye" aria-hidden="true"></i></a>
                                    <a href="#" class="btn btn-primary btn-circle add-to-fav"><i class="fa fa-heart" aria-hidden="true"></i></a>
                                </div>
                            </div>
                            <div class="info-wrapper">
                                <div class="info">
                                    <div class="category">Electronics</div>
                                    <a href="view-listing.html" class="name">Samsung Galaxy S9 </a>
                                    <span class="price">$400</span>
                                    <span class="location"><i class="fa fa-map-marker-alt" aria-hidden="true"></i> California, United States</span>
                                    <span class="posted"><i class="far fa-clock" aria-hidden="true"></i> Posted Yesterday</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-3 item">
                        <div class="item-wrapper">
                            <div class="image-wrapper">
                                <div class="promoted">
                                    <span>Promoted</span>
                                </div>
                                <a href="view-listing.html" class="image">
                                    <img class="lazyloaded" src="~/Public/images/products/1000X675_vacation.jpg" data-src="#" alt="">
                                </a>
                                <div class="quick-actions">
                                    <a href="#quick-view" data-toggle="modal" class="btn btn-primary btn-circle"><i class="fa fa-eye" aria-hidden="true"></i></a>
                                    <a href="#" class="btn btn-primary btn-circle add-to-fav"><i class="fa fa-heart" aria-hidden="true"></i></a>
                                </div>
                            </div>
                            <div class="info-wrapper">
                                <div class="info">
                                    <div class="category">Vacations</div>
                                    <a href="view-listing.html" class="name">Maldive, 7 days package</a>
                                    <span class="price">$5,500</span>
                                    <span class="location"><i class="fa fa-map-marker-alt" aria-hidden="true"></i> California, United States</span>
                                    <span class="posted"><i class="far fa-clock" aria-hidden="true"></i> Posted Yesterday</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-3 item">
                        <div class="item-wrapper">
                            <div class="image-wrapper">
                                <div class="promoted">
                                    <span>Promoted</span>
                                </div>
                                <a href="view-listing.html" class="image">
                                    <img class="lazyloaded" src="~/Public/images/products/1000X675_laptop.jpg" data-src="#" alt="">
                                </a>
                                <div class="quick-actions">
                                    <a href="#quick-view" data-toggle="modal" class="btn btn-primary btn-circle"><i class="fa fa-eye" aria-hidden="true"></i></a>
                                    <a href="#" class="btn btn-primary btn-circle add-to-fav"><i class="fa fa-heart" aria-hidden="true"></i></a>
                                </div>
                            </div>
                            <div class="info-wrapper">
                                <div class="info">
                                    <div class="category">Electronics</div>
                                    <a href="view-listing.html" class="name">Apple Macbook pro 13"</a>
                                    <span class="price">$212.00</span>
                                    <span class="location"><i class="fa fa-map-marker-alt" aria-hidden="true"></i> California, United States</span>
                                    <span class="posted"><i class="far fa-clock" aria-hidden="true"></i> Posted 5 hours ago</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-3 item">
                        <div class="item-wrapper">
                            <div class="image-wrapper">
                                <div class="promoted">
                                    <span>Promoted</span>
                                </div>
                                <a href="view-listing.html" class="image">
                                    <img class="lazyloaded" src="~/Public/images/products/1000X675_iphone.jpg" data-src="#" alt="">
                                </a>
                                <div class="quick-actions">
                                    <a href="#quick-view" data-toggle="modal" class="btn btn-primary btn-circle"><i class="fa fa-eye" aria-hidden="true"></i></a>
                                    <a href="#" class="btn btn-primary btn-circle add-to-fav"><i class="fa fa-heart" aria-hidden="true"></i></a>
                                </div>
                            </div>
                            <div class="info-wrapper">
                                <div class="info">
                                    <div class="category">Electronics</div>
                                    <a href="view-listing.html" class="name">Apple iphone 6S</a>
                                    <span class="price">$435.00</span>
                                    <span class="location"><i class="fa fa-map-marker-alt" aria-hidden="true"></i> Washington, Seattle</span>
                                    <span class="posted"><i class="far fa-clock" aria-hidden="true"></i> Posted 2 days ago</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-3 item">
                        <div class="item-wrapper">
                            <div class="image-wrapper">
                                <div class="promoted">
                                    <span>Promoted</span>
                                </div>
                                <a href="view-listing.html" class="image">
                                    <img class="lazyloaded" src="~/Public/images/products/1000X675_nikon.jpg" data-src="#" alt="">
                                </a>
                                <div class="quick-actions">
                                    <a href="#quick-view" data-toggle="modal" class="btn btn-primary btn-circle"><i class="fa fa-eye" aria-hidden="true"></i></a>
                                    <a href="#" class="btn btn-primary btn-circle add-to-fav"><i class="fa fa-heart" aria-hidden="true"></i></a>
                                </div>
                            </div>
                            <div class="info-wrapper">
                                <div class="info">
                                    <div class="category">Electronics</div>
                                    <a href="view-listing.html" class="name">Nikon DSLR Camera</a>
                                    <span class="price">$1,500</span>
                                    <span class="location"><i class="fa fa-map-marker-alt" aria-hidden="true"></i> Nevada, Las Vegas</span>
                                    <span class="posted"><i class="far fa-clock" aria-hidden="true"></i> Posted on 11.06.2018</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-3 item">
                        <div class="item-wrapper">
                            <div class="image-wrapper">
                                <div class="promoted">
                                    <span>Promoted</span>
                                </div>
                                <a href="view-listing.html" class="image">
                                    <img class="lazyloaded" src="~/Public/images/products/1000X675_house.jpg" data-src="#" alt="">
                                </a>
                                <div class="quick-actions">
                                    <a href="#quick-view" data-toggle="modal" class="btn btn-primary btn-circle"><i class="fa fa-eye" aria-hidden="true"></i></a>
                                    <a href="#" class="btn btn-primary btn-circle add-to-fav"><i class="fa fa-heart" aria-hidden="true"></i></a>
                                </div>
                            </div>
                            <div class="info-wrapper">
                                <div class="info">
                                    <div class="category">Real Estate</div>
                                    <a href="view-listing.html" class="name">Villa on the beach</a>
                                    <span class="price">$358,000</span>
                                    <span class="location"><i class="fa fa-map-marker-alt" aria-hidden="true"></i> Malibu, California</span>
                                    <span class="posted"><i class="far fa-clock" aria-hidden="true"></i> Posted on 10.27.2018</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-3 item">
                        <div class="item-wrapper">
                            <div class="image-wrapper">
                                <div class="promoted">
                                    <span>Promoted</span>
                                </div>
                                <a href="view-listing.html" class="image">
                                    <img class="lazyloaded" src="~/Public/images/products/1000X675_pants.jpg" data-src="#" alt="">
                                </a>
                                <div class="quick-actions">
                                    <a href="#quick-view" data-toggle="modal" class="btn btn-primary btn-circle"><i class="fa fa-eye" aria-hidden="true"></i></a>
                                    <a href="#" class="btn btn-primary btn-circle add-to-fav"><i class="fa fa-heart" aria-hidden="true"></i></a>
                                </div>
                            </div>
                            <div class="info-wrapper">
                                <div class="info">
                                    <div class="category">Fashion</div>
                                    <a href="view-listing.html" class="name">Lee Cooper Pants</a>
                                    <span class="price">$180</span>
                                    <span class="location"><i class="fa fa-map-marker-alt" aria-hidden="true"></i> Nevada, Las Vegas</span>
                                    <span class="posted"><i class="far fa-clock" aria-hidden="true"></i> Posted on 11.03.2018</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div id="profile-reviews" role="tabpanel" class="tab-pane fade">
        <section class="listing-reviews">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="section-header text-center">
                            <h3>Reviews</h3>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="item">
                            <div class="item-wrapper">
                                <div class="user-details text-center">
                                    <span class="avatar">
                                        <img src="~/Public/images/reviews/500X500_review-3.jpg">
                                    </span>
                                    <span class="name">Anna Chloe</span>
                                    <span class="date">Nov 01, 2018</span>
                                    <div class="rating rated">
                                        <span>★</span><span>★</span><span>★</span><span>★</span><span>☆</span>
                                    </div>
                                </div>
                                <div class="user-comment">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum ut sagittis nisl. Maecenas sed mauris vitae magna venenatis ullamcorper id
                                    sed enim. Curabitur nisi augue, ornare et nulla in, luctus ornare sapien.
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="item-wrapper">
                                <div class="user-details text-center">
                                    <span class="avatar">
                                        <img src="~/Public/images/reviews/500X500_review-1.jpg">
                                    </span>
                                    <span class="name">John Silver</span>
                                    <span class="date">Oct 28, 2018</span>
                                    <div class="rating rated">
                                        <span>★</span><span>★</span><span>★</span><span>★</span><span>★</span>
                                    </div>
                                </div>
                                <div class="user-comment">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum ut sagittis nisl. Maecenas sed mauris vitae magna venenatis ullamcorper id
                                    sed enim. Curabitur nisi augue, ornare et nulla in, luctus ornare sapien. Phasellus est eros, vehicula eget sem et, ullamcorper sodales purus.
                                    Fusce elit eros, viverra vitae sapien vitae, tincidunt imperdiet nulla. Vivamus commodo leo sit amet aliquam rutrum. Aenean facilisis, mauris id
                                    fringilla dictum, nulla quam maximus diam, eget ullamcorper ligula odio in odio. Sed scelerisque augue nec diam faucibus lacinia.
                                    Aliquam lacinia mi metus, et suscipit lectus feugiat in. Aenean ultrices, odio in molestie viverra, nisl tortor sagittis ex, at iaculis est neque vitae sem.
                                    Phasellus nec ornare odio. Integer blandit a dui eu maximus.<br /><br />
                                    Integer tincidunt sed odio a viverra. Aenean ullamcorper est eu gravida commodo. Duis nisl eros, ultricies eget vehicula eu, congue quis mauris.
                                    Cras et volutpat augue, dignissim porttitor turpis. Nunc mollis tortor eu erat scelerisque, ac hendrerit sapien feugiat. Mauris tincidunt libero sed mi
                                    scelerisque sagittis. Nullam blandit, dui in tempor fringilla, ipsum nunc convallis purus, nec ultrices mi orci nec turpis. Aliquam malesuada feugiat
                                    lacus id blandit. Proin eu ultrices purus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
                                    Ut varius hendrerit fringilla.
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="item-wrapper">
                                <div class="user-details text-center">
                                    <span class="avatar">
                                        <i class="far fa-user" aria-hidden="true"></i>
                                    </span>
                                    <span class="name">Coco Jambo</span>
                                    <span class="date">Oct 15, 2018</span>
                                    <div class="rating rated">
                                        <span>★</span><span>★</span><span>★</span><span>★</span><span>★</span>
                                    </div>
                                </div>
                                <div class="user-comment">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum ut sagittis nisl. Maecenas sed mauris vitae magna venenatis ullamcorper id
                                    sed enim. Curabitur nisi augue, ornare et nulla in, luctus ornare sapien. Phasellus est eros, vehicula eget sem et, ullamcorper sodales purus.
                                    Fusce elit eros, viverra vitae sapien vitae, tincidunt imperdiet nulla. Vivamus commodo leo sit amet aliquam rutrum. Aenean facilisis, mauris id
                                    fringilla dictum, nulla quam maximus diam, eget ullamcorper ligula odio in odio. Sed scelerisque augue nec diam faucibus lacinia.
                                    Aliquam lacinia mi metus, et suscipit lectus feugiat in. Aenean ultrices, odio in molestie viverra, nisl tortor sagittis ex, at iaculis est neque vitae sem.
                                    Phasellus nec ornare odio. Integer blandit a dui eu maximus.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
